{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onpage API - {{ content.title }}</title>
    <!-- <link rel="icon" href="/img/weather.png" /> -->
    <link rel="stylesheet" href="{% static 'onpage/style.css' %}" />
  </head>

  <body>
    <div class="main-content">
      <header>
        <h1>Onpage API</h1>

        <a href="/">Home</a>
        <a href="#">Previous Searches</a>
        <!-- <a href="#">Search</a> -->
      </header>
      {% block content %} {% endblock %}
    </div>
    <footer>
      <p>Onpage API by Abrar</p>
    </footer>
    <!-- <script src="js/app.js"></script> -->
  </body>
</html>
